<div class="navbar-top">
  <div class="side-nav-panel-left">
    
  </div>
  <!-- site brand  -->
  <div class="site-brand ">
    <div class="no-search">
      <a href="index.html"><img src="img/logo.png" width="150px"></a>
    </div>
  </div>
  <!-- end site brand  -->
  <div class="side-nav-panel-right">
    <div class="no-search">
      <a onclick="open_search();">
        <i class="fa fa-search-plus" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
<!-- end navbar top -->
<!-- side nav panel-->
<div class="side-nav-panel-left">
  <ul id="slide-out-left" class="side-nav side-nav-panel collapsible">
    <li class="li-search">
      <div class="search-form">
        <input type="search" placeholder="Buscar...." style="width:85% !important; float: left;">
        <a  style="float: right; display: block; height: 36px; background: #fff; border: 1px solid #eee; font-size: 30 !important; width: 36px; line-height: 36px !important; text-align: center !important;"><i class="fa fa-search" style="margin-top:-20px; margin-left:-5px;"></i></a>
      </div>
      <div class="clear-both" ></div>
    </li>
    <li><a href="index.html"><i class="fa fa-home"></i>Inicio</a></li>
    <li><a href="oferta.html"><i class="fa fa-money"></i>Ofertas</a></li>
    <li><a href="single-product.html"><i class="fa fa-eye"></i>Mis productos</a></li>
    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i>Ver Carrito</a></li>
    <li><a href="checkout.html"><i class="fa fa-credit-card"></i>Realizar Pago</a></li>
    <li><a href="blog.html"><i class="fa fa-bold"></i>Blog</a></li>
    <li><a href="single-post.html"><i class="fa fa-file-o"></i>Single Post</a></li>
    <li><a href="about-us.html"><i class="fa fa-user"></i>Nosotros</a></li>
    <li><a href="contact.html"><i class="fa fa-envelope-o"></i>Contacto</a></li>
  </ul>
</div>
<!-- end side nav panel-->
<!-- side nav panel cart -->
<div class="side-nav-panel-right">
  <div id="slide-out-right" class="side-nav side-nav-panel collapsible panel-cart" >
    <div id="cartproducts">
    </div>
  </div>
</div>
