<script type="text/javascript">
window.localStorage.setItem("PageProducts", null);
var page = window.localStorage.getItem("PageProducts");
window.localStorage.setItem("AllProducts", null);
</script>
<div class="post">
	<div class="container">
		<br/>
		<div class="post-head">
			<ul>
				<li><h4>PAGO EN OXXO</h4></li>
			</ul>
		</div><br/><br/>
		<div class="grey-box-border-button">
			<div>
			<img src="img/oxxo.png" width="30%">
			<img src="img/logo2.png" width="30%" style="float:right;">
		    </div>
		    <br/><br/>
			<div class="dark-box-border-button">
			<center>
			{{oxxocode}}
			</center>
		    </div>
			<div class="text-justify col10">
				<ul>
					<li> 1) Acude a la tienda OXXO mas cercana a tu domicilio.</li>
					<li> 2) Indica en la caja que quieres realizar un pago en OXXOpay.</li>
					<li> 3) Dicta el número de esta ficha al cajero.</li>
					<li> 4) Realiza el pago correspondiente en efectivo.</li>
					<li> 5) Al finalizar el cajero te entregará un comprobante donde podras verificar que se haya realizado el proceso correctamente <b>conserva ese ticket hasta que recibas tu producto</b>.</li>
				</ul>
			</div>
		</div>
	</div>
</div>